
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div class="font-weight-bold font-italic" > 
        Yeah you have come to the view page........
    </div>
</body>
</html>
